@font-face {
    font-family: Gascognebold;
    src: url(../Fuente/gascogne-bold.ttf);
}

@font-face {
    font-family: GascogneSemibold;
    src: url(../Fuente/Gascogne-DemiBold.ttf);
}

@font-face {
    font-family: GascogneMedium;
    src: url(../Fuente/Gascogne-Medium.ttf);
}

@font-face {
    font-family: GascogneRegular;
    src: url(../Fuente/gascogne-medium.otf);
}


/* ESTILOS GLOBALES */

A {
    text-decoration: none;
}


/*1 PANTALLA DE INICIO */

/* HEADER */


/* cursos, sobre nosotros, artículos...*/

header nav ul {
    list-style-type: none;
    background-color: #F2EFE3;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: raleway;
    font-weight: 500;
    padding-left: 0px;

}

/* Logo y cursos, sobre nosotros, artículos...*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2EFE3;
    position: fixed;
    border-radius: 15px;
    height: 31px;
    width: 1240px;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 34px;
    padding-bottom: 35px;
    margin: 27px 32px 0px 32px;
    position: absolute;
}

/* Cursos solo*/

.cursos {
    padding-right: 80px;
    color: #585858;
}

/* Sobrenosotros solo*/

.sobrenosotros {
    padding-right: 80px;
    color: #585858;
}

/* Artículos solo*/

.artículos {
    padding-right: 80px;
    color: #585858;
}

/* Contacto solo*/

.contacto {
    padding-right: 80px;
    color: #585858;
}

.aulavirtual {
    color: #585858;
}





/* PORTADA */

/* Toda la portada de inicio */

.container {
    display: flex;
    flex-direction: row;
}


/* titulo subtitulo y botón */

.container section {
    width: 720px;
    height: 700px;
    background-color: #CAD3B7;
    box-sizing: border-box;
    padding-top: 248px;
    padding-left: 102px;
    padding-right: 64px;
    padding-bottom: 123px;
}


/* título: Academia verde al cubo */

.container section h1 {
    font-family: GascogneSemibold;
    font-size: 48px;
    color: #303030;
    width: 554px;
    line-height: 35px;
    margin-bottom: 40px;
    margin-top: 0px;
}

/* Subtítulo: Descubrí... */

.container section p {
    font-family: raleway;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 64px;
    margin-top: 0px;
    width: 519px;
    height: 148px;
}


/* botón */

.container section a {
    font-size: 20px;
    font-weight: bold;
    color: #FDFDFD;
    font-family: raleway;
    padding: 24px 40px 24px 40px;
    border-radius: 100px;
    width: 180px;
    height: 66px;
    background-color: #266F39;
}


/* CÓMO FUNCIONAN LOS CURSOS */


/* cuadrado beige */

.caja2 {
    width: 818px;
    height: 640px;
    border-radius: 12px;
    background-color: #F2EFE3;
    padding-bottom: 106px;
    margin-top: 91px;
    margin-bottom: 91px;
    margin-left: 311px;
    margin-right: 311px;
}


/* título principal "¿Cómo funcionan nuestros cursos?" */

#función {
    width: 635px;
}

.caja2 h2 {
    color: #303030;
    font-size: 40px;
    font-family: GascogneMedium;
    padding: 72px 92px 4px 91px;
    margin: 0px 0px;
}


/* títulos "Aprendé, conectá, contá, participá" */

#aprendé {
    width: 364px;
    padding-right: 283px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#conectá {
    width: 424px;
    padding-right: 223px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contá {
    width: 325px;
    padding-right: 322px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#participá {
    width: 374px;
    padding-right: 273px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* subtítulos en negrita */

.caja2 h3 {
    color: #303030;
    font-size: 20px;
    font-family: GascogneMedium;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 51px 0px 16px 171px;
}

#intercambiá {
    padding-bottom: 71px;
}

/* subtítulos en regular */

.caja2 p {
    color: #585858;
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    padding-left: 211px;
    margin: 0px;
    width: 432px;
    height: 35px;

}





/* A QUIENES ESTÁN DIRIGIDOS */

/* toda la sección: título, subtitulo e imagen */

.dirigidos {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;

}

/* título y subtítulo */
.dirigidos section h2 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 138px;
    padding-bottom: 0px;
    width: 458px;
}

/* contenedor de titulo y subtitulo */
.ellos {
    background-color: #CAD3B7;
    width: 720px;
    height: 700px;
}

/*  título "a quienes estan dirigidos" */
.dirigidos h2 {
    margin-left: 100px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-top: 0px;
    font-family: GascogneMedium;
    font-size: 40px;
    color: #303030;
}

/*  subtítulo "ingenireros, etc" */

.dirigidos section p {
    color: #585858;
    font-size: 20px;
    font-family: raleway;
    font-weight: normal;
    width: 520px;
    height: 355px;
    margin: 0px;
    line-height: 45px;
    padding-left: 100px;
}

#negrita {
    font-weight: 400;
}







/* VERDE AL CUBO TE GARANTIZA */

/*  Caja o contenedor beige */

.contener {
    background-color: #F2EFE3;
    width: 1440px;
}

/*  título "Verde al Cubo te garantiza" */

.titulo h2 {
    color: #303030;
    font-size: 40px;
    font-family: GascogneMedium;
    padding-left: 453px;
    padding-right: 488px;
    padding-top: 100px;
    padding-bottom: 66px;
    width: 499px;
    margin: 0px;

}

/* toda la sección: títulos y subtitulos*/

.garantizar {
    display: grid;
    grid-template-columns: 403px 316px 316px 403px;
}


/* icono de pala*/
.enfoque img {
    padding-left: 209px;
    padding-right: 146px;
}

/* icono de aprendizaje*/

.aprendizaje img {
    padding-right: 135px;
    padding-left: 133px;
}

/* icono de expertos*/

.expertos img {
    padding-right: 131px;
    padding-left: 137px;
}


/* icono de certificado*/

.certificado img {
    padding-right: 222px;
    padding-left: 135px;
}

/* título "enfoque práctico"*/
.enfoque h3 {
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    padding-left: 154px;
    padding-right: 91px;
    padding-bottom: 16px;
    padding-top: 12px;
    margin: 0px;
    width: 158px;

}

/* título "aprendizaje dinámico"*/

.aprendizaje h3 {
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    padding-left: 57px;
    padding-right: 59px;
    padding-bottom: 16px;
    padding-top: 12px;
    margin: 0px;
    width: 200px;

}


/* título "expertos en la industria"*/

.expertos h3 {
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    padding-left: 51px;
    padding-right: 46px;
    padding-bottom: 16px;
    padding-top: 12px;
    margin: 0px;
    width: 219px;

}


/* título "certificado"*/

.certificado h3 {
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    padding-left: 108px;
    padding-right: 196px;
    padding-bottom: 16px;
    padding-top: 12px;
    margin: 0px;
    width: 101px;

}

/* subtítulo "diseñamos modalidades"*/

.enfoque p {
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #585858;
    width: 265px;
    margin: 0px;
    padding-left: 100px;
    padding-right: 38px;
    padding-bottom: 123px;
}

/* subtítulo "brindamos variedad"*/

.aprendizaje p {
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #585858;
    width: 265px;
    margin: 0px;
    padding-left: 24px;
    padding-right: 27px;
    padding-bottom: 123px;

}


/* subtítulo "contamos con"*/

.expertos p {
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #585858;
    width: 265px;
    margin: 0px;
    padding-left: 26px;
    padding-right: 25px;
    padding-bottom: 123px;

}



/* subtítulo "entregamos un"*/

.certificado p {
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #585858;
    width: 265px;
    margin: 0px;
    padding-left: 26px;
    padding-right: 114px;
    padding-bottom: 123px;


}






/* CURSOS ONLINE */


/* fondo de cursos */

.cards {

    width: 1440px;
    height: 717px;
}

/* todas las cards */

.todas {
    display: flex;
    flex-direction: row;
}


/* título de cursos "cursos online" */

.cards span h2 {
    font-size: 40px;
    font-family: GascogneMedium;
    color: #303030;
    margin: 0px;
    padding-left: 595px;
    padding-right: 594px;
    padding-bottom: 63px;
    padding-top: 96px;
    width: 251px;
}

/* Cards de cursos */


.card-uno {
    width: 292px;
    height: 439px;
    background-color: #F2EFE3;
    border-radius: 12px;
    margin: 0px;
    margin-left: 100px;
}

.card-dos {
    width: 292px;
    height: 439px;
    background-color: #F2EFE3;
    border-radius: 12px;
    margin: 0px;
    margin-left: 24px;
    margin-right: 24px;
}

.card-tres {
    width: 292px;
    height: 439px;
    background-color: #F2EFE3;
    border-radius: 12px;
    margin: 0px;
    margin-right: 24px;
}



.card-cuatro {
    width: 292px;
    height: 439px;
    background-color: #F2EFE3;
    border-radius: 12px;
    margin: 0px;
    margin-right: 100px;
}


/* Títulos de cards */
.todas h3 {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 16px;
    margin: 0px;
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    line-height: 26px;
    letter-spacing: 2%;
    height: 45px;

}

/* Subtítulos de cards */

.todas p {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    color: #585858;
    width: 256px;
    height: 95px;
    text-align: left;
}

#obtené {
    line-height: 21px;
    letter-spacing: 5%;
}

#otros {
    line-height: 20px;
    letter-spacing: 5%;
}

/* Imágenes de cursos */

.cards div img {
    padding-top: 24px;
    padding-left: 18px;
    padding-right: 18px;

}



/* Conocé a tu docente */

.conocé {}




/* SOBRE NOSOTROS */

/* toda la sección */

.sobre-nosotros {
    display: flex;
    flex-direction: row;
}

/* título subtítulo y botón */

.sobre-nosotros section {
    width: 720px;
    height: 700px;
    background-color: #CAD3B7;
    box-sizing: border-box;
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 109px;
}

/* título "Sobre Nosotros" */

.sobre-nosotros section h2 {
    font-family: GascogneMedium;
    font-size: 40px;
    color: #303030;
    width: 274px;
    height: 72px;
    line-height: 72px;
    margin-bottom: 4px;
    margin-top: 0px;

}

/* subtítulo "Somos una comunidad" */

.sobre-nosotros section p {
    font-family: Raleway;
    font-weight: normal;
    font-size: 20px;
    line-height: 33.5px;
    margin-bottom: 60px;
    margin-top: 0px;
    width: 520px;
    height: 316px;
    color: #585858;
}

/* botón */

.sobre-nosotros section a {
    font-family: raleway;
    font-size: 20px;
    color: #FDFDFD;
    font-weight: bold;
    border-radius: 100px;
    background-color: #266F39;

}





/* FOOTER */

/* tamaño de fondo */

.footer {
    width: 1440px;
    height: 421px;
    background-color: #f2efe3;
}

/* los dos listados de academia y comunidad */
.academia-comunidad {
    display: flex;
    flex-direction: row;
}

/* Títulos "Academia y Comunidad */
.academia-comunidad div h3 {
    font-family: Gascognemedium;
    font-size: 20px;
    font-weight: normal;
    color: #303030;
}

/* Título "Academia" */
.academia {
    padding-left: 154px;
    padding-bottom: 24px;
    padding-top: 50px;
    margin: 0px;
}

/* Título "Comunidad" */
.comunidad {
    padding-left: 100px;
    padding-bottom: 24px;
    padding-top: 50px;
    margin: 0px;

}

/* Subítulos de academia y comunidad */

.academia-comunidad div ul li {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 24px;
}

footer ul a {
    color: #585858;
}

ul {
    list-style-type: none;
}


/* Subítulos de academia */

.academia-uno {
    padding-left: 154px;
    margin: 0px;
}


/* Subítulos de comunidad */

.comunidad-uno {

    padding-left: 100px;
    margin: 0px;
}



/* Imagen de la planta " */
.planta {
    display: flex;
    justify-content: flex-end;
    rotate: -6.14°;
}


/* Logo " */
.logo {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 174px;
}


/* Los tres botones de privacidad " */
.seguridad {
    display: flex;
    flex-direction: row;
}


/* texto "Politica de privacidad" */
.privacidad {
    margin-left: 409px;
    margin-right: 46px;
    margin-top: 24px;
    margin-bottom: 50px;
    font-family: Raleway;
    font-weight: normal;
    font-size: 16px;
    color: #585858;
}

/* texto "Términos y condiciones" */
.términos {
    margin-left: 46px;
    margin-right: 46px;
    font-family: Raleway;
    font-weight: normal;
    font-size: 16px;
    color: #585858;
}

/* texto "Botón de arrepentimiento" */
.arrepentimiento {
    margin-left: 46px;
    margin-right: 410px;
    font-family: Raleway;
    font-weight: normal;
    font-size: 16px;
    color: #585858;
}


/* Icono de facebook */

.iconofacebook {
    margin-left: 590px;
    margin-right: 16px;
    margin-top: 32px;
    padding: 4px 4px 4px 4px;
}

/* Icono de instagram */

.iconoinstagram {
    margin-right: 16px;
    padding: 4px 4px 4px 4px;
}

/* Icono de twitter */

.iconotwitter {
    margin-right: 16px;
    padding: 4px 4px 4px 4px;
}


/* Icono de pinterest */

.iconopinterest {
    margin-right: 16px;
    padding: 4px 4px 4px 4px;
}

/* Icono de linkedin */

.iconolinkedin {
    padding: 4px 4px 4px 4px;

}






/*2 ¡¡¡PANTALLA DE CURSOS!!! */

/*2 PORTADA */

/* Toda la portada de cursos */

.container-uno {
    display: flex;
    flex-direction: row;
}

/* titulo subtitulo y botón */

.container-uno section {
    width: 720px;
    height: 700px;
    background-color: #CAD3B7;
    box-sizing: border-box;
    padding-top: 210px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 84px;
}


/* título: Curso de frutos secos... */

.container-uno section h2 {
    font-family: GascogneSemibold;
    font-size: 40px;
    color: #303030;
    width: 519px;
    line-height: 78px;
    padding: 0px;
    margin-bottom: 40px;
    margin-top: 0px;
    line-height: 49px;

}



/* Subtítulo: En cultivos con cosechas... */

.container-uno section p {
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 64px;
    margin-top: 0px;
    width: 480px;
    color: #585858;
}


/* botón "inscribirme ahora" */

.container-uno section a {
    font-size: 20px;
    font-weight: bold;
    color: #FDFDFD;
    font-family: raleway;
    padding: 24px 40px 24px 40px;
    border-radius: 100px;
    background-color: #266F39;
}



/* Este curso incluye / requisito */

/* fondo beige*/
.incluye-uno {
    background-color: #F2EFE3;
    width: 1440px;
    height: 480px;
    margin-top: 171px;
    margin-bottom: 171px;
    display: flex;
    flex-direction: row;

}

/* títulos "este curso incluye"*/

.curso {
    font-family: GascogneMedium;
    font-size: 40px;
    font-weight: 400;
    color: #303030;
    padding-top: 77px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 380px;
    margin: 0px;
    width: 340px;
}

/* títulos "requisitos"*/

.requisitos {
    font-family: GascogneMedium;
    font-size: 40px;
    font-weight: 400;
    color: #303030;
    padding-top: 77px;
    padding-bottom: 40px;
    margin-left: 423px;
    padding-right: 380px;
    margin: 0px;
    width: 197px;
}

/* subtítulos "6 meses"*/

.meses {
    margin: 0px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 100px;
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    color: #585858;
    line-height: 23.5;
}

/* subtítulos "10 articulos"*/
.articulos {
    margin: 0px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 114px;
    padding-left: 100px;
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    color: #585858;
    line-height: 23.5;
}

/* los otros subtítulos */

#check {
    margin: 0px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 100px;
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    color: #585858;
    line-height: 23.5;
}

/* subtitulo de requisito */
.experiencia {
    width: 520px;
    height: 256px;
    margin: 0px;
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    color: #585858;
    line-height: 1.6;
    padding-bottom: 78px;

}

/* conocé a tu docente */

.conocé {
    display: flex;
    flex-direction: row;
}

/* título subtítulo y botón */
.conocé section {
    width: 1440px;
    height: 822px;
    background-color: #CAD3B7;
    box-sizing: border-box;
    padding-top: 76px;
    padding-bottom: 76px;
    padding-right: 100px;
    padding-left: 100px;
}

/* título "Conocé a tu docente" */

.conocé section h2 {

    font-family: GascogneMedium;
    font-size: 40px;
    color: #303030;
    margin-bottom: 40px;
}

/* subtítulo "Yanina Guzmán..." */
.conocé section p {
    font-family: raleway;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.8;
    margin-bottom: 40px;
    margin: 0px;
    width: 520px;
    height: 440px;
    color: #585858;
}

/* botón "Ver linkedin" */
.conocé section a {
    width: 177px;
    height: 58;
    font-size: 20px;
    font-family: Raleway;
    font-weight: bold;
    color: #266F39;
    stroke: #266F39;
    border-radius: 100%;
}

/* Seccion de Testimonios de estudiantes  */


/* caja blanca */

.testimonios {
    width: 1440px;
    height: 822px;
}

/* caja beige */
#grid {
    width: 823px;
    height: 480px;
    background-color: #F2EFE3;
    border-radius: 12px;
    margin-left: 309px;
    margin-right: 308px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 317px 508px ;
grid-template-rows: 480px ;
}

/* título "testimonios de estudiantes" */

.testimonios {
    font-size: 40px;
    font-family: GascogneMedium;
    color: #303030;
    font-weight: 400;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 63px;
    padding-left: 100px;
    width: 504px;
    height: 40px;

}

/* título "Juan Manuel Mazza" */
.juan {
    margin: 0px;
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    width: 183px;
    padding-top: 100px;
    padding-left: 20px;
    

}

/* Imagen de "Juan Manuel Mazza" */

.foto-juan {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 189px;
}




/* subtítulo "muy contento por lo aprendido..." */

.testi {
width: 384px;
height: 144px;
padding-left: 20px;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
color: #585858;
line-height: 1.5;
margin-top: 32px;
margin-bottom: 34px;

}

/* botón "Ver linkedin" */
.boton-ver {
color: #266F39;
font-family: raleway;
font-weight: bold;
font-size: 20px;
background-color: #F2EFE3;
margin-left: 250px;
cursor: pointer;
width: 110px;
}

/* radio icono */

.radio {
padding-top: 42px;
margin-bottom: 31.8px;
padding-left: 100px;
}



/*3 ¡¡¡PANTALLA DE SOBRE NOSOTROS!!! */

/*3 PORTADA */

/* Toda la portada de Sobre nosotros */

.container-dos {
    display: flex;
    flex-direction: row;
}

/* titulo subtitulo y botón */

.container-dos section {
    width: 720px;
    height: 700px;
    background-color: #CAD3B7;
    box-sizing: border-box;
    padding-top: 221px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 94px;
}


/* título: Sobre nosotros */

.container-dos section h2 {
    font-family: GascogneSemibold;
    font-size: 40px;
    color: #303030;
    width: 519px;
    padding: 0px;
    margin-bottom: 40px;
    margin-top: 0px;
    line-height: 49px;

}



/* Subtítulo: Somos una comunidad... */

.container-dos section p {
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 519px;
    height: 316px;
    color: #585858;

}