@font-face {
    font-family: Gascognebold;
    src: url(../Fuente/gascogne-bold.ttf);
}

@font-face {
    font-family: GascogneSemibold;
    src: url(../Fuente/Gascogne-DemiBold.ttf);
}

@font-face {
    font-family: GascogneMedium;
    src: url(../Fuente/gascogne-medium.otf);
}

@font-face {
    font-family: GascogneRegular;
    src: url(../Fuente/gascogne-medium.otf);
}


/* ESTILOS GLOBALES */

A {
    text-decoration: none;
}



/* HEADER */


/* cursos, sobre nosotros, artículos...*/

header nav ul {
    list-style-type: none;
    background-color: #F2EFE3;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: raleway;
    font-weight: 500;
    padding-left: 0px;

}

/* Logo y cursos, sobre nosotros, artículos...*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2EFE3;
    position: fixed;
    border-radius: 15px;
    height: 31px;
    width: 1240px;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 34px;
    padding-bottom: 35px;
    margin: 27px 32px 0px 32px;
    position: absolute;
}

/* Cursos solo*/

.cursos {
    padding-right: 80px;
    color: #585858;
}

/* Sobrenosotros solo*/

.sobrenosotros {
    padding-right: 80px;
    color: #585858;
}

/* Artículos solo*/

.artículos {
    padding-right: 80px;
    color: #585858;
}

/* Contacto solo*/

.contacto {
    padding-right: 80px;
    color: #585858;
}

.aulavirtual {
    color: #585858;
}



/* FOOTER */


/* Icono de facebook */

.iconofacebook {
    margin-left: 590px;
    margin-right: 16px;
    padding: 4px 4px 4px 4px;
}

/* Icono de instagram */

.iconoinstagram {
    margin-right: 16px;
    padding: 4px 4px 4px 4px;
}

/* Icono de twitter */

.iconotwitter {
    margin-right: 16px;
    padding: 4px 4px 4px 4px;
}


/* Icono de pinterest */

.iconopinterest {
    margin-right: 16px;
    padding: 4px 4px 4px 4px;
}

/* Icono de linkedin */

.iconolinkedin {
    padding: 4px 4px 4px 4px;

}

footer {
    background-color: #f2efe3;
}

footer ul a {
    color: #585858;
}

.funcionamiento {
    background-color: #f2efe3;
}

ul {
    list-style-type: none;
}








/* PORTADA */

/* Toda la portada de inicio */

.container {
    display: flex;
    flex-direction: row;
}


/* titulo subtitulo y botón */

.container section {
    width: 720px;
    height: 700px;
    background-color: #CAD3B7;
    box-sizing: border-box;
    padding-top: 248px;
    padding-left: 102px;
    padding-right: 64px;
    padding-bottom: 123px;
}


/* título: Academia verde al cubo */

.container section h1 {
    font-family: GascogneSemibold;
    font-size: 48px;
    color: #303030;
    width: 554px;
    line-height: 35px;
    margin-bottom: 40px;
    margin-top: 0px;
}

/* Subtítulo: Descubrí... */

.container section p {
    font-family: raleway;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 64px;
    margin-top: 0px;
    width: 519px;
    height: 148px;
}


/* botón */

.container section a {
    font-size: 20px;
    font-weight: bold;
    color: #FDFDFD;
    font-family: raleway;
    padding: 24px 40px 24px 40px;
    border-radius: 100px;
    width: 180px;
    height: 66px;
    background-color: #266F39;
}


/* CÓMO FUNCIONAN LOS CURSOS */


/* cuadrado beige */

.caja2 {
    width: 818px;
    height: 640px;
    border-radius: 12px;
    background-color: #F2EFE3;
    padding-bottom: 106px;
    margin-top: 91px;
    margin-bottom: 91px;
    margin-left: 311px;
    margin-right: 311px;
}


/* título principal "¿Cómo funcionan nuestros cursos?" */

#función {
    width: 635px;
}

.caja2 h2 {
    color: #303030;
    font-size: 40px;
    font-family: GascogneMedium;
    padding: 72px 92px 4px 91px;
    margin: 0px 0px;
}


/* títulos "Aprendé, conectá, contá, participá" */

#aprendé {
    width: 324px;
    padding-right: 283px;

}

#conectá {
    width: 384px;
    padding-right: 223px;

}

#contá {
    width: 285px;
    padding-right: 322px;

}

#participá {
    width: 334px;
    padding-right: 273px;
}

/* subtítulos en negrita */

.caja2 h3 {
    color: #303030;
    font-size: 20px;
    font-family: GascogneMedium;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 51px 0px 16px 211px;
}

#intercambiá {
    padding-bottom: 71px;
}

/* subtítulos en regular */

.caja2 p {
    color: #585858;
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    padding-left: 211px;
    margin: 0px;
    width: 432px;
    height: 35px;

}


/* A QUIENES ESTÁN DIRIGIDOS */

/* toda la sección: título, subtitulo e imagen */

.dirigidos {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* título y subtítulo */
.dirigidos section h2 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 138px;
    padding-bottom: 0px;
    width: 458px;
}

/* contenedor de titulo y subtitulo */
.ellos {
    background-color: #CAD3B7;
    width: 720px;
    height: 700px;
}

/*  título "a quienes estan dirigidos" */
.dirigidos h2 {
    margin-left: 100px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-top: 0px;
    font-family: GascogneMedium;
    font-size: 40px;
    color: #303030;
}

/*  subtítulo "ingenireros, etc" */

.dirigidos section p {
    color: #585858;
    font-size: 20px;
    font-family: raleway;
    font-weight: normal;
    width: 520px;
    height: 355px;
    margin: 0px;
    line-height: 45px;
    padding-left: 100px;
}









/* VERDE AL CUBO TE GARANTIZA */

/*  Caja o contenedor beige */

.contener {
    background-color: #F2EFE3;
    width: 1440px;
}

/*  título "Verde al Cubo te garantiza" */

.titulo h2 {
    color: #303030;
    font-size: 40px;
    font-family: GascogneMedium;
    padding-left: 453px;
    padding-right: 488px;
    padding-top: 100px;
    padding-bottom: 66px;
    width: 499px;
    margin: 0px;

}

/* toda la sección: títulos y subtitulos*/

.garantizar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: baseline;
}

.aprendizaje {
    text-align: center;
}



/* icono de pala*/
.enfoque img {
    padding-left: 222px;
}

/* icono de aprendizaje*/

.aprendizaje img {
    padding-right: 270px;
}

/* icono de expertos*/

.expertos img {
    padding-right: 266px;
}


/* icono de certificado*/

.certificado img {
    padding-right: 222px;
}

/* título "enfoque práctico"*/
.enfoque h3 {
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    padding-left: 167px;
    padding-right: 137px;
    padding-bottom: 16px;
    padding-top: 12px;
    margin: 0px;
    width: 158px;

}

/* título "aprendizaje dinámico"*/

.aprendizaje h3 {
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-top: 12px;
    margin: 0px;
    width: 200px;

}


/* título "expertos en la industria"*/

.expertos h3 {
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    padding-left: 0px;
    padding-right: 154px;
    padding-bottom: 16px;
    padding-top: 12px;
    margin: 0px;
    width: 219px;

}



/* título "certificado"*/

.certificado h3 {
    font-family: GascogneMedium;
    font-size: 20px;
    color: #303030;
    padding-left: 0px;
    padding-right: 196px;
    padding-bottom: 16px;
    padding-top: 12px;
    margin: 0px;
    width: 101px;

}

/* subtítulo "diseñamos modalidades"*/

.enfoque p {
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #585858;
    width: 265px;
    margin: 0px;
    padding-left: 113px;
    padding-right: 51px;
    padding-bottom: 123px;
}

/* subtítulo "brindamos variedad"*/

.aprendizaje p {
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #585858;
    width: 265px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 51px;
    padding-bottom: 123px;

}


/* subtítulo "contamos con"*/

.expertos p {
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #585858;
    width: 265px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 51px;
    padding-bottom: 123px;

}



/* subtítulo "entregamos un"*/

.certificado p {
    font-family: raleway;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #585858;
    width: 265px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 114px;
    padding-bottom: 123px;


}



/* CURSOS ONLINE */

/* títulos de cursos */

.caja3 h3 {
    font-size: 20px;
    font-family: GascogneMedium;
    color: #303030;

}

/* Cards de cursos */

.caja3 {
    width: 292px;
    height: 439px;
    background-color: #F2EFE3;
    border-radius: 12px;
}


/* SOBRE NOSOTROS */











/* PANTALLA DE CURSOS */

/* Toda la portada de cursos */

.container1 {
    display: flex;
    flex-direction: row;
}

/* titulo subtitulo y botón */

.container1 section {
    width: 720px;
    height: 700px;
    background-color: #CAD3B7;
    box-sizing: border-box;
    padding-top: 210px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 84px;
}

/* título: Curso de frutos secos... */

.container1 section h2 {
    font-family: GascogneSemibold;
    font-size: 40px;
    color: #303030;
    width: 519px;
    line-height: 78px;
    padding: 0px;
    margin-bottom: 40px;
    line-height: 49px;

}

/* Subtítulo: En cultivos con cosechas... */

.container1 section p {
    font-family: raleway;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 64px;
    margin-top: 0px;
    width: 480px;
}


/* botón "inscribirme ahora" */

.container1 section a {
    font-size: 20px;
    font-weight: bold;
    color: #FDFDFD;
    font-family: raleway;
    padding: 24px 40px 24px 40px;
    border-radius: 100px;
    background-color: #266F39;
}