/* TIPOGRAFIAS */

@font-face {
    font-family: Gascognebold;
    src: url(../fuente/gascogne-bold.ttf);
}

@font-face {
    font-family: GascogneSemibold;
    src: url(../fuente/gascogne-\ semibold.ttf);
}

@font-face {
    font-family: gascognemedium;
    src: url(../fuente/gascogne-medium.ttf);
}

@font-face {
    font-family: GascogneRegular;
    src: url(../fuente/gascogne-regular.ttf);
}